hybrid.xcuserdatad
joris.xcuserdatad

Builds/VisualStudio2015/x64/
Builds/VisualStudio2015/Chaser.opensdf
Builds/VisualStudio2015/Chaser.sdf

build
*.suo
*.VC.db
*.VC.VC.opendb

/Builds/MacOSX/Chaser.xcodeproj/project.xcworkspace/xcuserdata/

Builds/VisualStudio2015/\.vs/Chaser/v15/
